
* {
  padding: 0;
  margin: 0;
 
}

body {
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--light-pink);
  flex-direction: column;
}

.container {
  background-color: var(--white);
  width: 100%;
  max-width: 500px;
  min-height: 450px;
  margin: 150px auto;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 50px 0 hsl(292, 16%, 49%, 0.2),
    0 10px 20px 0 hsl(292, 16%, 49%, 0.2);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 30px;
  color: var(--dark-purple);
}

.icon-head {
  width: 35px;
  height: auto;
  margin-right: 20px;
}

.icon {
  width: 25px;
  height: auto;
}

.question-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  color: var(--dark-purple);
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.question-title:hover {
  color: var(--purple);
  cursor: pointer;
}

p {
  margin-bottom: 25px;
  color: var(--grayish-purple);
  /* font-size: 0.9rem; */
}

hr {
  margin-bottom: 25px;
  border: 0.5px solid var(--light-pink);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
  body { background-image: url(./assets/images/background-pattern-mobile.svg);}

  .container {
    max-width: 300px;
    width: 100%;
  }

}